@import url("https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400");
@import url("https://fonts.googleapis.com/css?family=VT323");
@font-face {
  font-family: "hyliaSerif";
  src: url("fonts/HyliaSerifBeta-Regular.otf");
}

html,
body {
  margin: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 0;
}
body {
  margin: 0;
  overflow: hidden;
}
canvas {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#play {
  position: absolute;
  top: 5vh;
  left: 44vw;
  background-color: rgb(32, 32, 32);
  color: #00ff22;
  font-family: "VT323", monospace;
  font-size: 35px;
  z-index: 10;
}
#play {
  animation: glowing 1300ms infinite;
}
#pause {
  position: absolute;
  top: 5vh;
  left: 50vw;
  background-color: rgb(32, 32, 32);
  color: #00ff22;
  font-family: "VT323", monospace;
  font-size: 35px;
  z-index: 10;
}
#pause {
  animation: glowing 1300ms infinite;
}